<div class="container">
    <h2>Formulario </h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <form [formGroup]="formProduct" (ngSubmit)="saveData()" novalidate enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">
                                    <!--Nombre producto-->
                                    <div class="form-group">
                                        <h6 for="nombre">Nombre Profesional</h6>
                                        <input formControlName="nombre" class="form-control" type="text" placeholder="Ingrese Nombre">
                                        <div *ngIf="formProduct.get('nombre').errors && (formProduct.get('nombre').touched 
                            || formProduct.get('nombre').dirty)" class="alert alert-danger">El nombre del profesional es obligatorio
                                        </div>
                                    </div>
                                    <!--Fin Nombre producto-->
                                </div>
                                <div class="col-md-6">
                                    <!-- Subir imagen-->
                                    <div class="form-group">
                                        <h6 for="imagen">Seleccione una imagen para el producto</h6>
                                        <input (change)="seleccionarFoto($event)" type="file" class="form-control-file">
                                    </div>
                                    <!-- fin Subir imagen-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--Seleccionar categoria-->
                                    <h6 for="apellido">Apellido</h6>
                                    <input formControlName="apellido" class="form-control" type="text" placeholder="Ingrese apellido">
                                    <!--Fin seleccionar categoria-->
                                </div>
                                <div class="col-md-6">
                                    <!--Precio producto-->
                                    <div class="form-group">
                                        <h6 for="Telefono">Telefono</h6>
                                        <input formControlName="telefono" type="text" class="form-control" placeholder="Ingrese Telefono">
                                    </div>
                                    <!--Fin Precio producto-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!--Seleccionar cantidad personas-->
                                    <div class="form-group">
                                        <h6 for="Email">Email</h6>
                                        <input formControlName="email" type="text" class="form-control" placeholder="Ingrese el email">
                                        <!--Fin cantidad personas-->
                                    </div>
                                </div>
                            </div>
                            <!--Ingresar Descripción-->
                            <div class="form-group">
                                <h6 for="descripcionProducto">Descripción</h6>
                                <textarea formControlName="descripcion" class="form-control" placeholder="Ingrese una descripción para el profesional"></textarea>
                                <div *ngIf="formProduct.get('descripcion').errors && (formProduct.get('descripcion').touched 
                              || formProduct.get('descripcion').dirty)" class="alert alert-danger">Es necesario ingresar una descripción.
                                </div>
                            </div>
                            <!-- fin Ingresar Descripción-->

                            <!--Botones-->
                            <div class="col-md-12" style="text-align: right">
                                <button type="button" class="btn btn-danger botones" style="background: #ff0000" data-toggle="modal" data-target="#modalSalir"> Cancelar </button> &nbsp;
                                <button type="submit" class="btn btn-warning botones" style="background: #ff8800"> Guardar </button>
                            </div>

                            <!--Fin Botones-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSalir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Salir de formulario de ingreso de productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas salir del formulario de ingreso de productos?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" [routerLink]="['/profesional/profesional']">Confirmar</button>
            </div>
        </div>
    </div>
</div>