<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Servicios</li>
    </ol>
</nav>
<div class="row" id="normal" style="margin: 0;padding: 10px;">

    <div class="col-3 z-depth-1" style="margin-right: 30px;padding: 20px">
        <h1>Servicios</h1>
        <label for="sel1">Buscar servicio:</label>
        <div class="md-form" style="margin-top: 0px;">

            <input type="search" [(ngModel)]="searchText" placeholder="Nombre del servicio">
        </div>
        <div class="form-group">
            <label for="sel1">Ordenar por:</label>
            <select [(ngModel)]="servicio" class="form-control" id="sel1" (ngModelChange)="ordenar()">
                <option [ngValue]="0">Nombre del servicio</option>
                <option [ngValue]="1">Precio: mayor a menor</option>
                <option [ngValue]="2"> Precio: menor a mayor</option>
            </select>
        </div>

    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-md-4" *ngFor="let servicio of restService.listaServicio | filter: searchText" style="margin-bottom: 20px;">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="http://parra.chillan.ubiobio.cl:8080/alvaro.castillo1501/servicio/uploads/img/{{servicio.foto}}" alt="Card image cap" style="height: 170px;">
                        <div class="card-body">
                            <h5 class="card-title" style="height: 50px;">{{servicio.nombre}}</h5>
                            <p class="card-text" style="overflow: hidden;height: 100px;"> {{servicio.descripcion }}</p>
                            <p class="card-text"><small class="text-muted">Valor: ${{servicio.precio }}</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="row" id="responsivo" style="margin: 0; display: none;">
    <div class="col-12 z-depth-1" style="margin: 10px;padding: 20px">
        <h1>Servicios</h1>
        <label for="sel1">Buscar servicio:</label>
        <div class="md-form" style="margin-top: 0px;">
            <input type="search" [(ngModel)]="searchText" placeholder="Nombre del servicio">
        </div>
        <div class="form-group">
            <label for="sel1">Ordenar por:</label>
            <select [(ngModel)]="servicio" class="form-control" id="sel1" (ngModelChange)="ordenar()">
                <option [ngValue]="0">Nombre del servicio</option>
                <option [ngValue]="1">Precio: mayor a menor</option>
                <option [ngValue]="2"> Precio: menor a mayor</option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-md-4" *ngFor="let servicio of restService.listaServicio | filter: searchText" style="margin-bottom: 20px;">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="http://parra.chillan.ubiobio.cl:8080/alvaro.castillo1501/servicio/uploads/img/{{servicio.foto}}" alt="Card image cap" style="height: 170px;">
                        <div class="card-body">
                            <h5 class="card-title" style="height: 50px;">{{servicio.nombre}}</h5>
                            <p class="card-text" style="overflow: hidden;height: 100px;"> {{servicio.descripcion }}</p>
                            <p class="card-text"><small class="text-muted">Valor: ${{servicio.precio }}</small></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>