<nav aria-label="breadcrumb z-depth-1">
    <ol class="breadcrumb" style="margin: 0;">
        <li class="breadcrumb-item "><a style="display: inline;padding: 0;" [routerLink]="['/profesional']"> Inicio</a>
        </li>
        <li class="breadcrumb-item active"><a style="display: inline;padding: 0;">Servicio</a></li>
    </ol>
</nav>
<br>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="width: 343px;">Lista de servicios</h2>
                    <br>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start">
                    <div class="md-form" style="width: 100%;">
                        <mdb-icon fas icon="search"></mdb-icon>
                        <input type="search" [(ngModel)]="searchText" placeholder="Busca por su nombre" width="100%">
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start">
                    <button class="btn btn-warning d-flex align-items-center align-self-center" [routerLink]="['/profesional/servicios/registrar']" routerLinkActive="router-link-active" type="button" style="height: 38px;background-color:  #ff8000;">Agregar Servicio
                        <i class="fa fa-plus-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#serviciosOfrecidos" role="tab" data-toggle="tab">Servicios ofrecidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#serviciosNoAsignados" role="tab" data-toggle="tab">Servicios sin asignar</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade show active" id="serviciosOfrecidos">
                            <div class="table-responsive">
                                <table mdbTable>
                                    <thead>
                                        <tr style="text-align: center">
                                            <th style="vertical-align: middle">Imagen</th>
                                            <th style="vertical-align: middle">Nombre</th>
                                            <th style="vertical-align: middle">Duración</th>
                                            <th style="vertical-align: middle">Precio mínimo</th>
                                            <th style="vertical-align: middle">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let servicio of serviciosOfrecido | filter: searchText">
                                        <tr style="text-align: center">

                                            <td style="vertical-align: middle">
                                                <img src="http://parra.chillan.ubiobio.cl:8080/alvaro.castillo1501/servicio/uploads/img/{{servicio.servicio.foto}}" class="align-self-center mr-3" style="width: 80px;height:80px;">
                                            </td>
                                            <td style="vertical-align: middle">{{servicio.servicio.nombre}}</td>
                                            <td style="vertical-align: middle">{{servicio.servicio.duracion}} Min</td>
                                            <td style="vertical-align: middle">{{servicio.servicio.precio | currency:'CLP':'$ '}}</td>
                                            <td style="vertical-align: middle">
                                                <div>
                                                    <button type="button" class="btn btn-success" [routerLink]="'/profesional/servicios/registrar/'+servicio.servicio.id_servicio" [queryParams]="{ ver: true }">
                                                        <i class="far fa-eye d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                                                    </button>&nbsp;
                                                    <button type="button" class="btn btn-danger" (click)="eliminarServicioOfrecido(servicio.id_servicioOfrecido)" data-toggle="modal" data-target="#modalEliminar">
                                        <i
                                            class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                                    </button>&nbsp;
                                                    <button type="button" class="btn btn-warning" [routerLink]="'/profesional/servicios/registrar/'+servicio.servicio.id_servicio">
                                        <i
                                            class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="serviciosNoAsignados">
                            <div class="table-responsive">
                                <table mdbTable>
                                    <thead>
                                        <tr style="text-align: center">
                                            <th style="vertical-align: middle">Imagen</th>
                                            <th style="vertical-align: middle">Nombre</th>
                                            <th style="vertical-align: middle">Duración</th>
                                            <th style="vertical-align: middle">Precio mínimo</th>
                                            <th style="vertical-align: middle">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let servi of serviciosNoOfrecido | filter: searchText">
                                        <tr style="text-align: center">

                                            <td style="vertical-align: middle">
                                                <img src="http://parra.chillan.ubiobio.cl:8080/alvaro.castillo1501/servicio/uploads/img/{{servi.foto}}" class="align-self-center mr-3" style="width: 80px;height:80px;">
                                            </td>
                                            <td style="vertical-align: middle">{{servi.nombre}}</td>
                                            <td style="vertical-align: middle">{{servi.duracion}} Min </td>
                                            <td style="vertical-align: middle">{{servi.precio | currency:'CLP':'$ '}}</td>
                                            <td style="vertical-align: middle">
                                                <div>
                                                    <button type="button" class="btn btn-primary" [routerLink]="'/profesional/servicios/registrar/'+servi.id_servicio" [queryParams]="{ ver: true }">
                                                        <i class="far fa-eye d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                                                    </button>&nbsp;
                                                    <button type="button" class="btn btn-success" (click)="guardarServicioOfrecido(servi)">
                                                            <i class="fas fa-plus-circle d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                                            </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>