<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card my-auto">
                <div class="card-header">
                    <h3>Inicia Sesión</h3>

                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input [(ngModel)]="usuario.username" type="usuario" class="form-control" id="username" name="username" aria-describedby="usuarioHelp" placeholder="Ingrese usuario" autofocus required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input [(ngModel)]="usuario.password" type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recuérdame
                        </div>
                        <div class="form-group " style="text-align: right;">
                            <input (click)="login()" type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>