<nav aria-label="breadcrumb z-depth-1">
    <ol class="breadcrumb" style="margin: 0;">
        <li class="breadcrumb-item "><a style="display: inline;padding: 0;" [routerLink]="['/profesional']"> Inicio</a>
        </li>
        <li class="breadcrumb-item active"><a style="display: inline;padding: 0;" [routerLink]="['/profesional/profesional']">Profesional</a></li>
        <li *ngIf="!formProduct.getRawValue().id_profesional && !show" class="breadcrumb-item active"><a style="display: inline;padding: 0;">Registrar</a></li>
        <li *ngIf="formProduct.getRawValue().id_profesional && !show" class="breadcrumb-item active"><a style="display: inline;padding: 0;">Actualizar</a></li>
        <li *ngIf="formProduct.getRawValue().id_profesional && show" class="breadcrumb-item active"><a style="display: inline;padding: 0;">Ver</a></li>
    </ol>
</nav>
<br>
<div class="container">
    <h2 *ngIf="!show">Formulario profesional</h2>
    <h2 *ngIf="show">Detalle profesional </h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <form [formGroup]="formProduct" (ngSubmit)="saveData()" novalidate enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-4">
                                    <!--Nombre -->
                                    <div class="form-group">
                                        <h6 for="nombre">Nombre</h6>
                                        <input formControlName="nombre" class="form-control" type="text" placeholder="Ingrese nombre del profesional">
                                        <div *ngIf="formProduct.get('nombre').hasError('required') && (formProduct.get('nombre').touched 
                            || formProduct.get('nombre').dirty)" class="alert alert-danger">* El nombre es obligatorio.
                                        </div>
                                        <div *ngIf="formProduct.get('nombre').hasError('minlength') && (formProduct.get('nombre').touched 
                                        || formProduct.get('nombre').dirty)" class="alert alert-danger">* El nombre debe tener más caracteres.
                                        </div>
                                        
                                    </div>
                                    <!--Fin Nombre -->
                                </div>
                                <div class="col-md-4">
                                    <!--Apellido -->
                                    <h6 for="apellido">Apellido</h6>
                                    <input formControlName="apellido" class="form-control" type="text" placeholder="Ingrese apellido del profesional">
                                    <div *ngIf="formProduct.get('apellido').hasError('required') && (formProduct.get('apellido').touched 
                                    || formProduct.get('apellido').dirty)" class="alert alert-danger">* El apellido es obligatorio.
                                    </div>
                                    <div *ngIf="formProduct.get('apellido').hasError('minlength') && (formProduct.get('apellido').touched 
                                    || formProduct.get('apellido').dirty)" class="alert alert-danger">* El apellido debe tener más caracteres.
                                    </div>
                                    <!--Fin Apellido -->
                                </div>
                                <div class="col-md-4">
                                    <!-- Subir imagen-->
                                    <div class="form-group" *ngIf="!show">
                                        <h6 for="imagen">Seleccione una imagen para el profesional</h6>
                                        <input (change)="seleccionarFoto($event)" type="file" class="form-control-file">
                                    </div>
                                    <div *ngIf="show" style="padding: auto;">
                                        <h6 for="imagen">Imagen</h6>
                                        <img src="http://parra.chillan.ubiobio.cl:8080/alvaro.castillo1501/servicio/uploads/img/{{ProfesionalActualizar.foto}}" style="height: 100px;">
                                    </div>
                                    <!-- fin Subir imagen-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--RUT -->
                                    <h6 for="rut">RUN</h6>
                                    <input formControlName="rut" class="form-control" type="text" placeholder="Ingrese RUN del profesional">
                                    <div *ngIf="formProduct.get('rut').hasError('required') && (formProduct.get('rut').touched 
                                    || formProduct.get('rut').dirty)" class="alert alert-danger">* El RUN es obligatorio.
                                    </div>
                                    <div *ngIf="formProduct.get('rut').hasError('pattern') && (formProduct.get('rut').touched 
                                    || formProduct.get('rut').dirty)" class="alert alert-danger">* El RUN debe tener la forma 1.234.567-k.
                                    </div>
                                    <!--Fin RUT-->
                                </div>
                                <div class="col-md-6">
                                    <!-- Telefono-->
                                    <div class="form-group">
                                        <h6 for="Telefono">Teléfono</h6>
                                        <input formControlName="telefono" type="number" class="form-control" placeholder="Ingrese teléfono del profesional">
                                        <div *ngIf="formProduct.get('telefono').hasError('required') && (formProduct.get('telefono').touched 
                                    || formProduct.get('telefono').dirty)" class="alert alert-danger">* El teléfono es obligatorio.
                                        </div>
                                        <div *ngIf="formProduct.get('telefono').hasError('pattern')   && (formProduct.get('telefono').touched 
                                    || formProduct.get('telefono').dirty)" class="alert alert-danger">* El teléfono debe tener 9 dígitos.
                                        </div>
                                    </div>
                                    <!--Fin Telefono -->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!--Email  -->
                                    <div class="form-group">
                                        <h6 for="Email">Email</h6>
                                        <input formControlName="email" type="text" class="form-control" placeholder="Ingrese email del profesional">
                                        <div *ngIf="formProduct.get('email').hasError('required') && (formProduct.get('email').touched 
                                    || formProduct.get('email').dirty)" class="alert alert-danger">* El email obligatorio.
                                        </div>
                                        <div *ngIf="formProduct.get('email').hasError('email') && (formProduct.get('email').touched 
                                    || formProduct.get('email').dirty)" class="alert alert-danger">* El email no es válido.
                                        </div>
                                        <!--Fin Email -->
                                    </div>
                                </div>
                                <div class="col-md-6" *ngIf="!formProduct.getRawValue().id_profesional">
                                    <!--Contraseña  -->
                                    <div class="form-group">
                                        <h6 for="contraseña">Contraseña</h6>
                                        <input formControlName="password" type="password" class="form-control" placeholder="Ingrese una contraseña">
                                        <div *ngIf="formProduct.get('password').hasError('required') && (formProduct.get('password').touched 
                                    || formProduct.get('password').dirty)" class="alert alert-danger">* La contraseña es obligatoria.
                                        </div>
                                        <div *ngIf="formProduct.get('password').hasError('minlength') && (formProduct.get('password').touched 
                                    || formProduct.get('password').dirty)" class="alert alert-danger">* La contraseña debe tener al menos 6 caracteres.
                                        </div>
                                        <!--Fin cantidad personas-->
                                    </div>
                                </div>
                            </div>
                            <!--Ingresar Descripción-->
                            <div class="form-group">
                                <h6 for="descripcionProducto">Descripción</h6>
                                <textarea formControlName="descripcion" class="form-control" placeholder="Ingrese una descripción para el profesional"></textarea>
                                <div *ngIf="formProduct.get('descripcion').hasError('required') && (formProduct.get('descripcion').touched 
                              || formProduct.get('descripcion').dirty)" class="alert alert-danger">* La descripción es obligatoria.
                                </div>
                                <div *ngIf="formProduct.get('descripcion').hasError('maxlength') && (formProduct.get('descripcion').touched 
                                || formProduct.get('descripcion').dirty)" class="alert alert-danger">* La descripción debe tener menos de 250 caracteres.
                                  </div>
                            </div>
                            <!-- fin Ingresar Descripción-->

                            <!--Botones-->
                            <div class="col-md-12" style="text-align: right" *ngIf="!show">
                                <button type="button" class="btn btn-danger botones" style="background: #ff0000" data-toggle="modal" data-target="#modalSalir"> Cancelar </button> &nbsp;
                                <button type="submit" [disabled]="formProduct.get('email').errors || formProduct.get('rut').errors || formProduct.get('telefono').errors" class="btn btn-warning botones" style="background: #ff8800"> Guardar </button>
                            </div>
                            <div class="col-md-12" style="text-align: right" *ngIf="show">
                                <button class="btn btn-warning botones" style="background: #ff8800" [routerLink]="['/profesional/profesional']"> Volver </button>
                            </div>

                            <!--Fin Botones-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalSalir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Salir de formulario de ingreso de profesional</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro que deseas salir del formulario de ingreso de profesional?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" [routerLink]="['/profesional/profesional']">Confirmar</button>
            </div>
        </div>
    </div>
</div>