<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registro</li>
    </ol>
</nav>
<div class="container">
    <h2 style="margin-top: 30px;">Formulario de registro </h2>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="form-group">
                        <form [formGroup]="formCliente" (ngSubmit)="saveData()" novalidate>

                            <div class="row">
                                <div class="col-md-6">
                                    <!--Nombre cliente-->
                                    <div class="form-group">
                                        <div class="md-form">
                                            <input mdbInput mdbValidate formControlName="nombre" type="text" id="nombre" class="form-control">
                                            <label for="nombre">Nombre</label>
                                            <mdb-error *ngIf="formCliente.get('nombre').hasError('required') && (formCliente.get('nombre').dirty || formCliente.get('nombre').touched)">* El nombre es obligatorio</mdb-error>
                                            <mdb-error *ngIf="formCliente.get('nombre').hasError('minlength') && (formCliente.get('nombre').dirty || formCliente.get('nombre').touched)">* El nombre debe tener más caracteres</mdb-error>
                                            <mdb-success *ngIf="formCliente.get('nombre').valid && (formCliente.get('nombre').dirty || formCliente.get('nombre').touched)">✔</mdb-success>
                                        </div>
                                    </div>
                                    <!--Fin Nombre cliente-->
                                </div>
                                <div class="col-md-6">
                                    <!-- Apellido cliente-->
                                    <div class="form-group">
                                        <div class="md-form">
                                            <input mdbInput mdbValidate formControlName="apellido" type="text" id="apellido" class="form-control">
                                            <label for="apellido">Apellido</label>
                                            <mdb-error *ngIf="formCliente.get('apellido').hasError('required') && (formCliente.get('apellido').dirty || formCliente.get('apellido').touched)">* El apellido es obligatorio</mdb-error>
                                            <mdb-error *ngIf="formCliente.get('apellido').hasError('minlength') && (formCliente.get('apellido').dirty || formCliente.get('apellido').touched)">* El apellido debe tener más caracteres</mdb-error>
                                            <mdb-success *ngIf="formCliente.get('apellido').valid && (formCliente.get('apellido').dirty || formCliente.get('apellido').touched)">✔</mdb-success>
                                        </div>
                                    </div>
                                    <!-- fin Apellido cliente-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--Rut Cliente-->
                                    <div class="md-form">
                                        <input mdbInput mdbValidate formControlName="rut" type="text" id="rut" class="form-control">
                                        <label for="rut">RUN</label>
                                        <mdb-error *ngIf="formCliente.get('rut').hasError('required') && (formCliente.get('rut').dirty || formCliente.get('rut').touched)">* El RUN es obligatorio</mdb-error>
                                        <mdb-error *ngIf="formCliente.get('rut').hasError('pattern') && (formCliente.get('rut').dirty || formCliente.get('rut').touched)">* El RUN debe tener la forma 12.345.678-k</mdb-error>
                                        <mdb-success *ngIf="formCliente.get('rut').valid && (formCliente.get('rut').dirty || formCliente.get('rut').touched)">✔</mdb-success>
                                    </div>
                                    <!--Fin Rut Cliente-->
                                </div>
                                <div class="col-md-6">
                                    <!--Telefono Cliente-->
                                    <div class="form-group">
                                        <div class="md-form">
                                            <input mdbInput mdbValidate formControlName="telefono" type="text" id="telefono" class="form-control">
                                            <label for="telefono">Teléfono</label>
                                            <mdb-error *ngIf="formCliente.get('telefono').hasError('required') && (formCliente.get('telefono').dirty || formCliente.get('telefono').touched)">* El teléfono es obligatorio</mdb-error>
                                            <mdb-error *ngIf="(formCliente.get('telefono').hasError('minlength') ||formCliente.get('telefono').hasError('maxlength')) && (formCliente.get('telefono').dirty || formCliente.get('telefono').touched)">* El teléfono debe tener 9 dígitos</mdb-error>
                                            <mdb-success *ngIf="formCliente.get('telefono').valid && (formCliente.get('telefono').dirty || formCliente.get('telefono').touched)">✔</mdb-success>
                                        </div>
                                    </div>
                                    <!--Fin Telefono Cliente-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <!--Email Cliente-->
                                    <div class="form-group">
                                        <div class="md-form">
                                            <input mdbInput mdbValidate formControlName="email" type="text" id="email" class="form-control">
                                            <label for="email">Correo</label>
                                            <mdb-error *ngIf="formCliente.get('email').hasError('required') && (formCliente.get('email').dirty || formCliente.get('email').touched)">* El correo electrónico es obligatorio</mdb-error>
                                            <mdb-error *ngIf="formCliente.get('email').hasError('email')  && (formCliente.get('email').dirty || formCliente.get('email').touched)">* correo inválido</mdb-error>
                                            <mdb-success *ngIf="formCliente.get('email').valid && (formCliente.get('email').dirty || formCliente.get('telefono').touched)">✔</mdb-success>

                                        </div>

                                    </div>
                                    <!--Fin Email Cliente-->
                                </div>

                                <div class="col-md-6">
                                    <!--Ingresar contraseña-->
                                    <div class="form-group">
                                        <div class="md-form">
                                            <input mdbInput mdbValidate formControlName="password" type="password" id="contraseña" class="form-control">
                                            <label for="contraseña">Contraseña</label>
                                            <mdb-error *ngIf="formCliente.get('password').hasError('required') && (formCliente.get('password').dirty || formCliente.get('password').touched)">* La contraseña es obligatoria</mdb-error>
                                            <mdb-error *ngIf="formCliente.get('password').hasError('minlength')  && (formCliente.get('password').dirty || formCliente.get('password').touched)">* Debe tenér un mínimo de 6 caracteres</mdb-error>
                                            <mdb-success *ngIf="formCliente.get('password').valid && (formCliente.get('password').dirty || formCliente.get('password').touched)">✔</mdb-success>
                                        </div>
                                    </div>
                                    <!-- fin Ingresar contraseña-->
                                </div>
                            </div>
                            <!--Botones-->
                            <div class="col-md-12" style="text-align: right">
                                <button type="button" class="btn btn-danger botones" style="background: #ff0000" (click)="regresar()"> Cancelar </button> &nbsp;
                                <button type="submit" class="btn btn-warning botones" style="background: #ff8800">
                                    Guardar </button>
                            </div>

                            <!--Fin Botones-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>