<div class="row" style="margin: 0; padding:2%; display: grid;display: none">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary form-check-label active">
            <input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off">
            <button class="botonformato" (click)="formatoDia()">Dia</button>
        </label>
        <label class="btn btn-primary form-check-label">
            <button class="botonformato" (click)="formatoSemana()"><input class="form-check-input" type="radio"
                    name="options" id="option2" autocomplete="off">Semana</button>
        </label>
        <label class="btn btn-primary form-check-label">
            <input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off">
            <button class="botonformato" (click)="formatoMes()">Mes</button>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <ul>
            <li>
                <a (click)="formatoMes()" [ngClass]="{active: li=='mes'}" class="active"><i class="far fa-calendar-alt"></i>Mes </a>
            </li>
            <li>
                <a (click)="formatoSemana()" [ngClass]="{active: li=='semana'}"><i class="far fa-calendar-alt"></i>   Semana </a>
            </li>
            <li>
                <a (click)="formatoDia()" [ngClass]="{active: li=='dia'}"><i class="far fa-calendar-alt"></i>   Dia </a>
            </li>
            <li>
                <a (click)="AgregarEvento()" [ngClass]="{active: li=='reserva'}"><i class="far fa-calendar-alt"></i>   Reservar </a>
            </li>

        </ul>
    </div>
    <div class="col-9">
        <div style="padding: 15px;">
            <full-calendar #calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="calendarEvents" [header]="{
                left: 'title',
                right: 'prev,next'
              }" [weekends]="calendarWeekends" locale="es-us"></full-calendar>
        </div>
    </div>
</div>