<nav aria-label="breadcrumb z-depth-1">
    <ol class="breadcrumb" style="margin: 0;">
        <li class="breadcrumb-item "><a style="display: inline;padding: 0;" [routerLink]="['/profesional']"> Inicio</a>
        </li>
        <li class="breadcrumb-item active"><a style="display: inline;padding: 0;">Reserva</a></li>
    </ol>
</nav>
<div class="row" style="margin: 0; padding:2%; display: grid;display: none">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary form-check-label active">
            <input class="form-check-input" type="radio" name="options" id="option1" autocomplete="off">
            <button class="botonformato" (click)="formatoDia()">Dia</button>
        </label>
        <label class="btn btn-primary form-check-label">
            <button class="botonformato" (click)="formatoSemana()"><input class="form-check-input" type="radio"
                    name="options" id="option2" autocomplete="off">Semana</button>
        </label>
        <label class="btn btn-primary form-check-label">
            <input class="form-check-input" type="radio" name="options" id="option3" autocomplete="off">
            <button class="botonformato" (click)="formatoMes()">Mes</button>
        </label>
    </div>
</div>
<div class="row" style="margin: 0px;">
    <div class="col-2" style="padding: 0px;">
        <ul style="padding-top: 40px;" class="menu z-depth-3">
            <li>
                <a (click)="formatoMes()" [ngClass]="{active: li=='mes'}" class="active"><i
                        class="far fa-calendar-alt"></i> Mes </a>
            </li>
            <li>
                <a (click)="formatoSemana()" [ngClass]="{active: li=='semana'}"><i class="far fa-calendar-alt"></i>
                    Semana </a>
            </li>
            <li>
                <a (click)="formatoDia()" [ngClass]="{active: li=='dia'}"><i class="far fa-calendar-alt"></i> Día </a>
            </li>
            <li>
                <a (click)="openModal()" [ngClass]="{active: li=='reserva'}"><i class="far fa-calendar-alt"></i>
                    Agregar Reserva </a>
            </li>

        </ul>
    </div>
    <div class="col-1"></div>
    <div class="col-9">
        <div style="padding: 15px;">
            <full-calendar #calendar defaultView="dayGridMonth" selectable="true" [plugins]="calendarPlugins" [events]="calendarEvents" [header]="{
                left: 'title',
                right: 'prev,next'
              }" [weekends]="calendarWeekends" locale="es-us" (dateClick)="handleDateClick($event)" [height]="500"></full-calendar>
        </div>
    </div>
</div>
<!--modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="onCloseHandled()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <label>Cliente:</label>
                    <select [(ngModel)]="cliente" id="exampleFormControlSelect1" class="form-control">
                        <option [ngValue]="0"> Ninguno Seleccionado</option>
                        <option *ngFor="let cliente of listaClientes" [ngValue]="cliente"> {{cliente.nombre}}</option>
                    </select>
                </div>
                <div class="">
                    <label for="exampleForm2">Fecha:</label>
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" (click)="d.toggle()" (change)="Select()" ngbDatepicker #d="ngbDatepicker">
                </div>
                <div class="">
                    <label>Hora:</label>
                    <select [(ngModel)]="hora" id="horario" class="form-control">
                        <option  [ngValue]="0" > Ninguno Seleccionado</option>
                        <option *ngFor="let horas of bloquesPosibles"  [ngValue]="horas"> Hora de Inicio:{{horas.horaInicio}} Hora de Fin:{{horas.horaFin}}</option>                       
                    </select>
                    <div class="">
                        <label>Servicio:</label>
                        <select [(ngModel)]="servicio" id="exampleFormControlSelect1" (change)="Select()" class="form-control">
                        <option [ngValue]="0"> Ninguno Seleccionado</option>
                        <option *ngFor="let servicio of listaServicios" [ngValue]="servicio"> {{servicio.nombre}}</option>
                    </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>