<nav class="navbar navbar-expand-lg navbar-light bg-light ">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/profesional/reserva']" routerLinkActive="active" class="nav-link">Reservas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/profesional/movimientos']" class="nav-link">Movimientos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/profesional/clientes']" class="nav-link">Clientes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/profesional/horario']" class="nav-link">Horario</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/profesional/servicios']" class="nav-link">Servicios</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/profesional/profesional']" class="nav-link">Profesional</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['']" class="nav-link">Cerrar Sesion</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>