<!--navbar responsive-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--Fin navbar Responsive-->
<!-- Navbar Superior-->
<nav class="navbar-top" style="background-color: #F9F9F9;padding-right: 20px">
    <ul class="">

        <li class="">
            <a [routerLink]="['/login']" class="navbar-tile" title="Ingresa"><i class="fas fa-user-circle fa-fw"></i> Ingresa</a>
        </li>

        <li class="" id="espacio"></li>

        <li class="">
            <a [routerLink]="['/login']" class="navbar-tile" title="Regístrate">Regístrate</a>
        </li>

        <li class="" id="espacio"></li>

        <li class="">
            <a [routerLink]="['/login']" class="navbar-tile" title="Portal Profesionales">Portal Profesionales</a>
        </li>

    </ul>
</nav>
<!--Fin Navbar superior-->
<!-- Navber de Navegacion-->
<nav class="main-navigation" style="background-color: #552a67d6 !important;">
    <div class="navbar-header animated fadeInUp ">
        <a class="navbar-brand" href="#">Logo Area</a>
    </div>
    <ul class="nav-list">
        <li class="nav-list-item">
            <a [routerLink]="['/home']" class="nav-link">Inicio</a>
        </li>
        <li class="nav-list-item">
            <a [routerLink]="['/home/servicio']" class="nav-link">Servicios</a>
        </li>
        <li class="nav-list-item">
            <a [routerLink]="['/home/equipo']" class="nav-link">Equipo</a>
        </li>
        <li class="nav-list-item">
            <a [routerLink]="['/home/reserva']" class="nav-link">Reserva</a>
        </li>
    </ul>

</nav>
<!--Fin Navbar Navegacion-->
<router-outlet></router-outlet>

<footer>
    <div class="container-fluid bg-primary py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row py-0">
                        <div class="col-sm-1 hidden-md-down">
                            <a class="bg-circle bg-info" href="#">
                                <i class="fa fa-2x fa-fw fa-address-card" aria-hidden="true "></i>
                            </a>
                        </div>
                        <div class="col-sm-11 text-white">
                            <div>
                                <h4>  Contact</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="text-align: right">
                    <div class="d-inline-block">
                        <div class="bg-circle-outline d-inline-block" style="background-color:#3b5998">
                            <a href="https://www.facebook.com/"><i class="fa fa-2x fa-fw fa-facebook text-white"></i>
   </a>
                        </div>
                        <div class="bg-circle-outline d-inline-block" style="background-color:#4099FF">
                            <a href="https://twitter.com/">
                                <i class="fa fa-2x fa-fw fa-twitter text-white"></i></a>
                        </div>

                        <div class="bg-circle-outline d-inline-block" style="background-color:#0077B5">
                            <a href="https://www.linkedin.com/company/">
                                <i class="fa fa-2x fa-fw fa-linkedin text-white"></i></a>
                        </div>
                        <div class="bg-circle-outline d-inline-block" style="background-color:#d34836">
                            <a href="https://www.google.com/">
                                <i class="fa fa-2x fa-fw fa-google text-white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>