<nav aria-label="breadcrumb z-depth-1">
    <ol class="breadcrumb" style="margin: 0;">
        <li class="breadcrumb-item "><a style="display: inline;padding: 0;" [routerLink]="['/profesional']"> Inicio</a>
        </li>
        <li class="breadcrumb-item active"><a style="display: inline;padding: 0;">Horario</a></li>
    </ol>
</nav>
<br>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Horario profesional</h2>
                    <br>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="horario()">
                                <div class="input-group-append">
                                    <button class="" (click)="d.toggle()" type="button">
                                        <mdb-icon far icon="calendar-alt" class="cyan-text" size="lg"></mdb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start">
                    <button class="btn btn-warning d-flex align-items-center align-self-center" [routerLink]="['registrar']" routerLinkActive="router-link-active" type="button" style="height: 38px;background-color:  #ff8000;">Agregar Horario
                        <i class="fa fa-plus-circle"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered" width="100%" style="text-align: center;">
                            <thead>
                                <tr style="text-align: center">
                                    <th style="vertical-align: middle">Hora de Inicio</th>
                                    <th style="vertical-align: middle">Hora de Fin</th>
                                    <th style="vertical-align: middle">Reserva</th>
                                    <th style="vertical-align: middle">Acciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let horas of horasProfesional">

                                <td style=" vertical-align: middle "> {{horas.bloque_horario.horaInicio}}</td>
                                <td style="vertical-align: middle ">{{horas.bloque_horario.horaFin}}</td>
                                <div *ngIf="horas.reserva;then thenBlock else elseBlock "></div>
                                <ng-template #thenBlock>
                                    <td style="vertical-align: middle ">Sí</td>
                                </ng-template>
                                <ng-template #elseBlock>
                                    <td style="vertical-align: middle ">No</td>
                                </ng-template>
                                <td style="vertical-align: middle">
                                    <div>
                                        <button type="button" class="btn btn-danger" (click)="eliminarHorario(horas.id_horarioProfesional)" data-toggle="modal" data-target="#modalEliminar">
                                        <i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                                        </button>
                                    </div>
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>