<hr>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 style="width: 343px;">Lista de Profesional</h2>
                    <br>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start">
                    <div class="md-form" style="width: 100%;">
                        <mdb-icon fas icon="search"></mdb-icon>
                        <input type="search" [(ngModel)]="searchText" placeholder="Busca por su nombre" width="100%">
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-end align-self-start">
                    <button class="btn btn-warning d-flex align-items-center align-self-center" [routerLink]="['registrar']" routerLinkActive="router-link-active" type="button" style="height: 38px;background-color:  #ff8000;">Agregar Profesional
            <i class="fa fa-plus-circle"></i>
          </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table mdbTable>
                            <thead>
                                <tr style="text-align: center">
                                    <th style="vertical-align: middle">Nombre</th>
                                    <th style="vertical-align: middle">Apellido</th>
                                    <th style="vertical-align: middle">Telefono</th>
                                    <th style="vertical-align: middle">Email</th>
                                    <th style="vertical-align: middle">Acciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let Profesional of restService.listaProfesional | filter: searchText">
                                <tr style="text-align: center">

                                    <td style="vertical-align: middle">{{Profesional.nombre}}</td>
                                    <td style="vertical-align: middle">{{Profesional.apellido}}</td>
                                    <td style="vertical-align: middle">{{Profesional.telefono}}</td>
                                    <td style="vertical-align: middle">{{Profesional.email}}</td>
                                    <td style="vertical-align: middle">
                                        <div>
                                            <button type="button" class="btn btn-danger" (click)="profesionalEliminar(Profesional.id_profesional)">
                        <i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                      </button>&nbsp;
                                            <button type="button" class="btn btn-warning" [routerLink]="['registrar/'+Profesional.id_profesional]">
                        <i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                      </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>